/* Background */
.background {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 50%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.9);
}
@media (min-width: 0) and (max-width:540px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 541px) and (max-width: 768px) {
  .container {
    width: 75%;
  }
}
/* Buttons */
.buttons {
  display: flex;
  justify-content: flex-end;
}
button {
  font-weight: 700;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
  cursor: pointer;
}
a {
  text-decoration: none;
}
/* TwitterButton */
.twitterButton {
  margin-right: 1rem;
}

/* Quotes */
.quoteIcon {
  font-size: 2rem;
  margin-right: 1rem;
}
.quotes {
  margin-bottom: 1rem;
}
.quote {
  font-size: 1.25rem;
}
.author {
  font-style: italic;
  font-weight: 300;
  text-align: right;
}